body {
    margin:auto;
    width: 90%;
    background-color: #e7f6f2;
    font-family: 'Roboto', 'Mulish', helvetica, sans-serif;
}

.flex-container {
    display:inline-flex;  
}


header{
    position: relative;    
}

nav{
    margin:0; 
}

nav.heroBG{
    height: 25rem;
    background-image: url("../media/hero_2.2.jpg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

nav.flex-container{
    align-items: top; 
    justify-content: center;
    width: 100%;    
    transition: height 1s; 
}

nav li{
    list-style: none;    
}

nav a{
    text-decoration: none;     
}


nav>*{
    flex-basis: 10%; 
    height: 2.5rem;   
    padding: 0.5rem;
    background-color: #e7f6f28f ;
    text-align: center;    
    color:#2C3333;
    display:flex;
    justify-content: center;
    align-items: center;
}

nav .active{
    background-color: #bbe2e3b2;
}

nav li:hover{
    background-color: #f0fefa9c;
}

nav .logo {
    width: 12rem;
}

nav>p {
    background-color: rgba(255, 255, 255, 0);
    font-size: 10px;
    margin: 3px;
    color: #395B64;
    position: absolute;
    right: 0;
    bottom: 0;
}
header button{
    flex-basis: 1rem;
    height: 1.5rem;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #e7f6f28f;
    display: none;
}

header button:hover {
    cursor: pointer;
    background-color: #f0fefa9c;
}

header button>img {
    width: 1rem;
    opacity: 80%;
}

/* nav .first{
    position: absolute;
    left: 0;
    background-color:#bbe2e366
} */

@media (max-width: 700px){
    header button{
        display:inline-block;
    }

    nav.flex-container{
       flex-direction: column;
       background-image: none;
       flex-basis: 5%; 
    }
    .navMenu {
        display:none;
    }

    nav>.first {
        display: inline-flex !important;
    }

    nav>p {
        display:none !important;
    }
}

@media (min-width:701px) {
    .navMenu
    {
        display: inline-flex !important;
    }
}

section{
    text-align: justify;
    text-justify: inter-word;
    margin:0;
    padding: 1rem;
    background-color:#395B64;    
}

section div {
    width: 90%;
    background-color: #E7F6F2;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
}

section div figure {
    width: 25%;
    box-shadow: rgb(138, 138, 138) 0 0 6px;  
    border: 8px solid white;
    margin: 0.5rem 1.5rem 1rem 1.5rem;
    background-color: white;
    text-align: center;
}

section figure img {
    width:100%;
}

section figcaption {
    font-size: 10px;
    margin: 3px;
    color: #A5C9CA;
}


section figure.large {
    width: 90%;
}
section p{
    margin: 1rem 1rem;
    color:#2C3333;
}

section h2 {
    color: #E94560;
    margin: 1rem 1rem;
}

section h3, h4{
    color: #0F3460;
    margin: 1rem 1rem;
}
section h5{
    color: #395B64;
    margin: 1rem 1rem;
}

section .float-left {
    float: left;
}

section .float-right {
    float:right;
}

section span.clear-left { 
    clear: left;
    display: block; 
}

section span.clear-right { 
    clear: right;
    display: block; 
}


footer{
    display:flex;
    flex-direction: column;
    color: #E7F6F2;
    justify-content: center;
    align-items: center;
    height: 12rem;
    background-color: #2C3333;
}

footer p{
    color: #395B64;
    margin: 0.5rem;
}

footer p.bright{
    color: #A5C9CA;
}

